<div class="mylogo">
<p> ROOTS </p>
</div>
<div class="mydiv">
<div class="searchbar">
  <input type="search" class="searchbar--input" placeholder="Search...">
  <div class="searchbar--buttons">
    <input type="submit" class="searchbar--submit" value="Search">
    <div class="select-wrapper">
      <select class="searchbar--select">
    <option value="All" disabled selected>Paper Tags</option>
      <option value="Thesis-C">Thesis</option>
      <option value="Security-C">Security</option>
      <option value="Robotics-C">Robotics</option>
      <option value="Sample-C">Sample</option>
    </select>
    </div>
  </div>
</div>
</div>