<div class="container">
	<div class='center'>
		<h1>Editing Document</h1>
		<br>
		<%= render 'form' %>

		 <div class="footer">
			<%= link_to 'Show', @document %> |
			<%= link_to 'Home', documents_path %>
		</div>
	</div>
</div>
