.Header{
	position:absolute;
	padding-top: 10px;
	padding-left: 5px;
}

a:link{
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

#myLogo{
	padding-top: 150px;
	text-align: center;
	font-size: 3.5em;
	font-style: italic;
	color: black;
	font-weight: normal;
}

#search{
	padding: 10px;
	margin: 0 auto;
	width: 750px;
}

#adv-search-link{
	text-align: center;
	text-decoration: underline;
}

.advance-search{
	padding-top: 10px;
}

#advance-search-section{
	display: none;
}

#author{
	padding: 3px;
}

#doctype{
	padding: 3px;
}

#category{
	padding: 3px;
}