input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 3px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

a:link{
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

.field{
  padding-bottom: 10px;
}

#error{
  color:red;
}

#error-messages{
  color:red;
  list-style-type: none;
}

#required-field{
  color:red;
}

textarea{
  width: 100%;
  padding: 12px 20px;
  margin: 3px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


input[type=submit]:hover {
  background-color: #45a049;
}

.center {
  position: relative;
  left: 50%;
  top: 33%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 50%;
}



