input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


input[type=submit]:hover {
  background-color: #45a049;
}


.center {
  position: absolute;
  left: 50%;
  top: 30%;

  /*
  Nope =(
  margin-left: -25%;
  margin-top: -25%;
   */

  /* 
  Yep!
   */
  transform: translate(-50%, -50%);

  /*
  Not even necessary really. 
  e.g. Height could be left out!
   */
  width: 40%;
  height: 50%;
}



