html {
  box-sizing: border-box;
}
*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  font-size: 62.5%;
  font-family: 'Times New Roman';
  color: #221F51;
  background-color: #F9F9F9;
  opacity:0.8;
  position:fixed;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  z-index:1000;
}

.container{
  overflow-y: auto;
  width:100%;
  height:100%;
  font-size: 1.6em;
}