body {
  background-color: #efefef;
}

em {
  background: yellow;
}

.searchlogo {
  position: absolute;
  top: 7%;
  color: maroon;
  font-family: "Times New Roman";
  font-style: italic;
  font-size: 40px;
  left: 1%;
  width: 100%;
  text-decoration: none
}

.searchpage-bar{
  position: fixed;
  top: 5%;
  left: 15%;
  width: 70%;
}

.searchpage-button {
  position: fixed;
  top: 7.5%;
  right: 15%;
}

.searchpage-submit{
  height: 42px;
  width: 80px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  line-height: 32px;
  display: block;
  float: right;
  font-size: 14px;
  letter-spacing: .5px;
  border-radius: 4px;
  color: #fff;
  background-color: #C0C0C0;
}